@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Rubik:400');

$test: hsl(308, 100%, 50%);

// theme colors
$teal: hsl(170, 33%, 49%);
$teal-dark: hsl(173, 31%, 45%);
$blue: hsl(192, 46%, 50%);
$green: hsl(88, 46%, 46%);
$yellow: hsl(44, 72%, 50%);
$red: hsl(7, 46%, 48%);
$grey-darker: hsl(24, 5%, 22%);
$grey-darkerish: hsl(24, 5%, 25%);
$grey-dark: hsl(24, 7%, 36%);
$grey: hsl(37, 7%, 46%);
$grey-light: hsl(37, 18%, 64%);
$grey-lighter: hsl(39, 13%, 71%);

// bulma global variables
$family-sans-serif: "Rubik", sans-serif;
$primary: $grey-dark;
$link: $grey-lighter;
$link-hover: $teal;
$info: $teal;

// bulma component variables
$body-background-color: $grey-darker;
$body-font-size: 1.05em;
$text: $grey;
$text-strong: $grey-light;
$input-border-color: transparent;
$input-shadow: none;


@import "../../../../node_modules/bulma/bulma.sass";

.button {
    text-transform: uppercase;
}

.title {
    font-weight: $weight-normal;
}

.input, .select select {
    color: $grey;
}

.box {
    background-color: $grey-darkerish;
}