@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@import "../../../../node_modules/bulma/sass/utilities/functions.sass";

$test: hsl(308, 100%, 50%);

// new colors
$scheme-main-hue: 22;
$scheme-main-sat: 3%;
$scheme-main-sat-high: 5%;
$teal-dark: hsl(164, 26%, 45%);
$grey-darker-bis: hsl($scheme-main-hue, $scheme-main-sat, 25%);
$grey-darker-ter: hsl($scheme-main-hue, $scheme-main-sat, 28%);

// content colors
$content-docs-color: hsl($scheme-main-hue, $scheme-main-sat-high, 36%);
$content-links-color: hsl(164, 21%, 41%);
$content-tools-color: hsl(0, 0%, 72%);
$content-creative-color: hsl(20, 2%, 12%);

// bulma global variables
$black: hsl($scheme-main-hue, $scheme-main-sat, 9%);
$black-bis: hsl($scheme-main-hue, $scheme-main-sat, 11%);
$black-ter: hsl($scheme-main-hue, $scheme-main-sat, 17%);
$grey-darker: hsl($scheme-main-hue, $scheme-main-sat, 21.5%);
$grey-dark: hsl($scheme-main-hue, $scheme-main-sat, 42%);
$grey: hsl($scheme-main-hue, $scheme-main-sat, 56%);
$grey-light: hsl($scheme-main-hue, $scheme-main-sat-high, 64%);
$grey-lighter: hsl($scheme-main-hue, $scheme-main-sat-high, 71%);
$grey-lightest: hsl($scheme-main-hue, $scheme-main-sat, 93%);
$white-ter: hsl($scheme-main-hue, $scheme-main-sat, 93%);
$white-bis: hsl($scheme-main-hue, $scheme-main-sat, 98%);
$white: hsl($scheme-main-hue, $scheme-main-sat, 100%);
$orange: hsl(14, 80%, 53%);
$yellow: hsl(44, 72%, 50%);
$green: hsl(88, 46%, 46%);
$turquoise: hsl(164, 26%, 50%);
$cyan: hsl(207, 61%, 53%);
$blue: hsl(192, 46%, 50%);
$purple: hsl(278, 54%, 56%);
$red: hsl(7, 46%, 48%);
$family-sans-serif: "Inter", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 400;
$weight-semibold: 500;
$weight-bold: 600;
$radius-small: 3px;
$radius: 3px;
$radius-large: 3px;
$radius-rare: 0.25rem;
$shadow: 0;

// bulma derived variables
$primary: $grey-dark;
$info: $turquoise;
$success: $green;
$warning: $yellow;
$danger: $red;
$primary-light: bulmaRgba($primary, 0.3);
$primary-dark: $primary;
$info-light: bulmaRgba($info, 0.3);
$info-dark: $info;
$success-light: bulmaRgba($success, 0.3);
$success-dark: $success;
$warning-light: bulmaRgba($warning, 0.3);
$warning-dark: $warning;
$danger-light: bulmaRgba($danger, 0.3);
$danger-dark: $danger;
$link: $grey-lighter;
$link-light: bulmaRgba($link, 0.3);
$link-dark: $link;
$link-hover: $turquoise;
$link-hover-border: $link-hover;
$link-active: $grey-lighter;
$link-active-border: $grey-lighter;
$link-focus: $grey-lighter;
$link-focus-border: $grey-darker-bis;
$light: $grey;
$dark: $grey-darker;
$scheme-main: $grey-darker;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;
$background: $grey-darker;
$border: $grey-darker-ter;
$border-hover: $link-hover;
$border-light: $grey-darker-bis;
$border-light-hover: $link-hover;
$text: $grey;
$text-light: $grey;
$text-strong: $grey-light;
$pre: $text;
$pre: $background;

// bulma component variables
$column-gap: 0.5rem;
$navbar-breakpoint: 769px;
$navbar-tab-hover-border-bottom-color: $link-hover;
$notification-background-color: $black-ter;
$button-border-color: none;
$button-hover-border-color: none;
$button-active-border-color: none;
$button-focus-border-color: none;
$card-content-background-color: $grey-darker-bis;
$card-content-padding: 1rem;
$navbar-item-hover-color: $link-hover;
$navbar-dropdown-item-hover-color: $link-hover;
$panel-heading-background-color: $grey-darker-bis;
$panel-block-hover-background-color: $grey-darker-bis;
$pagination-current-background-color: $grey-dark;
$pagination-current-border-color: $grey-dark;
$tag-radius: $radius-rare;


@import "../../../../node_modules/bulma/bulma.sass";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

article {
    flex: 1 0 auto;
}

.overflow-parent {
    min-width: 0;
}

.link-url {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column {
    .card {
        &.vfill {
            height: 100%;
        }
    }
}

.tag.is-transparent {
    background: transparent;
}

.input, .select select {
    color: $grey;
}

.box {
    background-color: $grey-darker-bis;
}

.pre-footer {
    background-color: $black-ter;
    padding: $box-padding;
}

a.has-text-primary:hover, a.has-text-link:hover {
    color: $link-hover !important;
}

// keep consistent left margin on desktop and mobile
.navbar-brand {
    margin-left: -0.75rem;
}

// enable navbar dropdowns even at small screen widths
.navbar-item {
    &.has-dropdown {
        .navbar-dropdown {
            display: none;
        }

        &.is-active, &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
                background-color: $background;
                border-bottom-left-radius: $radius;
                border-bottom-right-radius: $radius;
                border-top: 2px solid $border;
                box-shadow: $navbar-dropdown-boxed-shadow;
                left: 0;
                min-width: 100%;
                position: absolute;
                top: 100%;
                z-index: 20;

                .navbar-item {
                    padding: 0.375rem 1rem;
                    padding-right: 3rem;
                    white-space: nowrap;
                }

                .navbar-divider {
                    display: block;
                }
            }
        }
    }
}

.navbar.is-transparent{
    .navbar-link:hover, .navbar-item:focus {
        background-color: transparent;
    }
}

@media screen and (min-width: $tablet) {
    .navbar-mobile-item {
        display: none;
    }
}

$blockquote-bg-alpha-adjust: -0.85;

.content {

    blockquote {
        background-color: $grey-darker-bis;
        border-color: $grey-dark;

        .is-primary {
            background-color: adjust-color($primary, $alpha: $blockquote-bg-alpha-adjust);
            color: $primary;
            border-color: $primary;
        }

        .is-link {
            background-color: adjust-color($link, $alpha: $blockquote-bg-alpha-adjust);
            color: $link;
            border-color: $link;
        }

        .is-info {
            background-color: adjust-color($info, $alpha: $blockquote-bg-alpha-adjust);
            color: $info;
            border-color: $info;
        }

        .is-success {
            background-color: adjust-color($success, $alpha: $blockquote-bg-alpha-adjust);
            color: $success;
            border-color: $success;
        }

        .is-warning {
            background-color: adjust-color($warning, $alpha: $blockquote-bg-alpha-adjust);
            color: $warning;
            border-color: $warning;
        }

        .is-danger {
            background-color: adjust-color($danger, $alpha: $blockquote-bg-alpha-adjust);
            color: $danger;
            border-color: $danger;
        }

        strong, code {
            color: unset;
        }
    }

    // youtube embeds, add some bottom padding to match other content
    .yt, .vimeo {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin-bottom: 1rem;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

@import "syntax/_syntax-theme-teak.scss";

// simple, non-syntax highlighted code block, uses chroma colors from theme
pre, code {
    background-color: $chroma-bg;
    color: $chroma-fg;
}

code, pre {
    border-radius: $radius-rare;
}

.content div.highlight:not(:last-child) {
    margin-bottom: 1em;
}

.card {

    .card-image {
        img {
            object-fit: cover;
            object-position: center;
        }
    }

    .content:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &.is-horizontal {
        flex-direction: row;
        display: flex;
        flex-basis: 50ex;
        flex-grow: 0;
        flex-shrink: 1;

        .card-image {
            flex: 0.75;
            flex-shrink: 1;

            .image {
                display: block;
                position: relative;
                overflow: hidden;
                height: 100%;
                width: 100%;
            }

            img {
                height: 100%;

                &:first-child {
                    border-top-left-radius: $card-radius;
                    border-bottom-left-radius: $card-radius;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

        }

        .card-content {
            flex: 3;
            flex-shrink: 3;

            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:last-child {
                border-top-right-radius: $card-radius;
                border-bottom-right-radius: $card-radius;
            }
        }
    }
}

$card-border-width: 0.3rem;

.links-card {
    border-left: $card-border-width solid $content-links-color;
}

.docs-card {
    border-left: $card-border-width solid $content-docs-color;
}

.tools-card {
    border-left: $card-border-width solid $content-tools-color;
}

.creative-card {
    border-left: $card-border-width solid $content-creative-color;
}

.card-image {
    background-color: $black-ter;
}

.image-icon-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $link;
}

.anchor-block {
    display: block;
    width: 100%;
    height: 100%;
}