{{ define "main" }}

{{/* header card */}}
<div class="mb-5">
    {{ if or (eq .Type "tools") }}
        {{/*  display tools page cards with full summary and links, since they are not designed to have their own pages  */}}
        {{ partial "pagecard.html" (dict "context" . ) }}
    {{ else }}
        {{ partial "pagecard.html" (dict "context" . "NoSummary" true "NoLink" true) }}
    {{ end }}
</div>

{{ if ge .ReadingTime 5 }}
<div class="notification">
    Reading time: {{ .ReadingTime }} minutes
</div>
{{ end }}

<div class="content">
    {{ .Content }}
</div>

{{ end }}

{{ define "pre-footer" }}
<div class="pre-footer mt-6">
    <div class="container">
        <div class="is-clearfix">
            {{/* show published date, but not for tools or creative */}}
            {{ if and (ne .Type "tools") (ne .Type "creative") }}
            <span class="is-italic has-text-primary">
                Published on {{ .Date.Format "Jan 2, 2006" }}
            </span>
            {{ end }}
            <button onclick="goToTop()" class="button is-pulled-right">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-regular fa-chevron-up"></i>
                    </span>
                    <span>
                        top
                    </span>
                </span>
            </button>
        </div>

        <div class="mb-6 mt-6"></div>

        <div>
            {{ if or (eq .Type "tools") (eq .Type "creative") }}
            {{/* show next/prev for tools and creative */}}
            {{ partial "nextprev.html" . }}
            {{ else }}
            {{/* show related content for docs */}}
            {{ partial "related.html" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}