{{ define "main" }}

{{/* header card */}}
<div class="mb-5 columns">
    <div class="column is-full pt-0 pb-0">

    {{ if or (eq .Type "tools") }}
        {{/*  display tools page cards with full summary and links, since they are not designed to have their own pages  */}}
        {{ partial "pagecard.html" (dict "context" . "IsPageHeader" true) }}
    {{ else }}
        {{ partial "pagecard.html" (dict "context" . "IsPageHeader" true "NoSummary" true "NoLink" true) }}
    {{ end }}
    </div>
</div>

{{/*  display reading time if more than 3 minutes  */}}
{{ if and (not .Params.NoReadingTime) (ge .ReadingTime 3) }}
<div class="notification">
    Reading time: {{ .ReadingTime }} minutes
</div>
{{ end }}


{{/*  sticky side bar for table of contents, etc  */}}
<aside class="sidebar sticky">
    {{ partial "toc.html" . }}
</aside>

<div class="content">
    {{ .Content }}
</div>

{{/* show published date, but not for creative pages */}}
{{ if ne .Type "creative" }}
<div class="is-italic has-text-primary pt-6">
    Published on {{ .Date.Format "Jan 2, 2006" }}
</div>
{{ end }}

{{ end }}

{{ define "pre-footer" }}
{{ partial "pagefooter.html" . }}
{{ end }}
