{{ define "main" }}

{{/*  determine the current tag, if one is selected  */}}
{{ $currentTag := "" }}
{{ if eq .Kind "term" }}
    {{ $currentTag = .Data.Term }}
{{ end }}

{{/* show list of all tags for selection */}}
<div class="box">
    <div class="tags">
        {{ range $tag, $tagPages := .Site.Taxonomies.tags }}
        <a class="tag is-medium {{ if eq $tag $currentTag }}is-primary{{ end }}" href="{{ .Page.RelPermalink }}">
            {{ $tag }} ({{ .Count }})
        </a>
        {{ end }}
    </div>
</div>

{{ if eq .Kind "term" }}

    {{/* show list of pages for the current tag, grouped by section */}}
    {{ range $section := .Site.Sections }}
        {{ $pages := where $.Pages "Type" $section.Type }}
        {{ if not $pages }}
            {{ continue }}
        {{ end }}

        <h3 class="title is-3">{{ title $section.Type }}</h3>

        <div class="columns is-multiline">
            {{ range where $.Pages "Type" $section.Type }}
                <div class="column is-full">
                    {{ partial "pagecard.html" (dict "context" .) }}
                </div>
            {{ end }}
        </div>

    {{ end }}

{{ end }}

{{ if .Content }}
    {{ .Content }}
{{ end }}

{{ end }}