<section class="section pt-3 pb-0">
    <div class="container">
        <nav class="navbar mt-3 mb-0" role="navigation" aria-label="main navigation">

            <p class="subtitle mb-0">
                {{ $current := . }}
                {{/* list of main menu items */}}
                {{ range $key, $menu := .Site.Menus.main }}
                {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .)}}
                {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
                {{/* add separator between items */}}
                {{ if ne $key 0 }}<span class="m-1">|</span>{{ end }}
                <a class="is-uppercase {{ if not $active }}has-text-primary{{ end }}" href="{{ .URL }}">
                    {{ if .Pre }}
                    <span class="icon">
                        <i class="{{ .Pre }}"></i>
                    </span>
                    {{ else }}
                    {{ .Name }}
                    {{ end }}
                </a>
                {{ end }}

                {{/* show search menu item when hidden on the right */}}
                <span class="is-hidden-desktop">
                    <span class="m-1">|</span>
                    <span class="icon">
                        <a class="has-text-primary" href="/search">
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </a>
                    </span>
                </span>
            </p>

            <div class="navbar-menu">
                <div class="navbar-end pr-3">

                    {{/* search */}}
                    <span class="icon">
                        <a class="has-text-primary" href="/search">
                            <i class="fa-regular fa-magnifying-glass fa-lg"></i>
                        </a>
                    </span>

                    {{/* site title */}}
                    <div class="subtitle has-text-primary  pl-2">
                        {{ .Site.Title }}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>