{{ $noSummary := default false .NoSummary }}
{{ $noTags := default false .NoTags }}

{{ $link := .context.RelPermalink }}
{{ if .context.Params.Link }}
{{ $link = .context.Params.Link }}
{{ end }}

<div class="card is-horizontal links-card">

    {{ if or .context.Params.Image .context.Params.ImageIcon }}
    <div class="card-image">
        <a class="anchor-block" href="{{ $link }}" {{if .Params.Link }}target="_blank" {{ end }}>
            {{ if .context.Params.Image }}
            <figure class="image">
                <img src="{{ .context.Params.Image }}">
            </figure>
            {{ end }}
            {{ if .context.Params.ImageIcon }}
            <span class="icon image-icon-centered">
                <i
                class="{{ .context.Params.ImageIcon }} is-size-2 is-size-4-mobile is-size-1-desktop"></i>
            </span>
            {{ end }}
        </a>
    </div>
    {{ end }}

    <div class="card-content">
        <h5 class="title mb-2 is-size-5">
            <a href="{{ $link }}" {{if .Params.Link }}target="_blank" {{ end }}>
                <span class="icon">
                    <i class="fa-regular fa-arrow-up-right"></i>
                </span>
                {{ .context.LinkTitle }}
            </a>
        </h5>

        {{ if not $noSummary }}
        <div class="content">
            {{ .context.Content }}
        </div>
        {{ end }}

        {{ if not $noTags }}
        {{ partial "tags.html" .context }}
        {{ end }}
    </div>
</div>