{{ $link := .RelPermalink }}
{{ if .Params.Link }}
{{ $link = .Params.Link }}
{{ end }}

<div class="card">

    {{ if .Params.Image }}
    <div class="card-image">
        <figure class="image">
            <a href="{{ $link }}" {{if .Params.Link }}target="_blank" {{ end }}>
                <img src="{{ .Params.Image }}">
            </a>
        </figure>
    </div>
    {{ end }}

    <div class="card-content link-card">
        <h5 class="title mb-3 is-size-5">
            <a href="{{ $link }}" {{if .Params.Link }}target="_blank" {{ end }}>
                <span class="icon">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </span>
                {{ .LinkTitle }}
            </a>
        </h5>

        {{ partial "metadata.html" . }}

        <div class="content is-size-7-touch is-size-6-tablet">
            {{ .Content }}
        </div>
    </div>
</div>