{{ $link := .RelPermalink }}
{{ if .Params.Link }}
{{ $link = .Params.Link }}
{{ end }}

<div class="card is-horizontal links-card">

    {{ if or .Params.Image .Params.ImageIcon }}
    <div class="card-image">
        <a class="anchor-block" href="{{ $link }}" {{if .Params.Link }}target="_blank" {{ end }}>
            {{ if .Params.Image }}
            <figure class="image">
                <img src="{{ .Params.Image }}">
            </figure>
            {{ end }}
            {{ if .Params.ImageIcon }}
            <span class="icon image-icon-centered">
                <i
                class="{{ .Params.ImageIcon }} is-size-2 is-size-4-mobile is-size-1-desktop"></i>
            </span>
            {{ end }}
        </a>
    </div>
    {{ end }}

    <div class="card-content">
        <h5 class="title mb-3 is-size-5">
            <a href="{{ $link }}" {{if .Params.Link }}target="_blank" {{ end }}>
                <span class="icon">
                    <i class="fa-regular fa-arrow-up-right"></i>
                </span>
                {{ .LinkTitle }}
            </a>
        </h5>

        {{ partial "metadata.html" . }}

        <div class="content is-size-7-touch is-size-6-tablet">
            {{ .Content }}
        </div>
    </div>
</div>