{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}

<div class="field is-grouped is-grouped-multiline">
    {{ if .PublishDate }}
    <time class="control" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
    {{ end }}

    {{ with .Params.Tags }}
    {{ range . }}
    <div class="control">
        <div class="tags">
            {{ $href := print ("/tags/") (urlize .) }}
            <a class="tag" href="{{ $href }}">{{ . }}</a>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>