{{/*
    Adds links to the next and previous pages as simple buttons.
*/}}

<div class="columns is-mobile">

    {{/* previous page link */}}
    <div class="column">
        {{ with .PrevInSection }}
            <a href="{{ .RelPermalink }}">
                <i class="fa-sharp fa-light fa-chevron-left is-size-2 p-5"></i>
            </a>
        {{ end }}
    </div>

    {{/* next page link */}}
    <div class="column has-text-right">
        {{ with .NextInSection }}
            <a href="{{ .RelPermalink }}">
                <i class="fa-sharp fa-light fa-chevron-right is-size-2 p-5"></i>
            </a>
        {{ else }}
        {{ end }}
    </div>

</div>