<div class="columns">
    {{/* previous page link */}}
    <div class="column">
        {{ with .PrevInSection }}
        <div class="subtitle">previous</div>
        {{ partial "pagecard.html" (dict "context" . "IsSmall" true "NoMetadata" true) }}
        {{ end }}
    </div>

    <div class="column is-1">
    </div>

    {{/* next page link */}}
    <div class="column">
        {{ with .NextInSection }}
        <div class="subtitle">next</div>
        {{ partial "pagecard.html" (dict "context" . "IsSmall" true "NoMetadata" true) }}
        {{ else }}
        {{ end }}
    </div>

</div>