{{ $noSummary := default false .NoSummary }}
{{ $noLink := default false .NoLink }}
{{ $noTags := default false .NoTags }}
{{ $isSmall := default false .IsSmall }}

{{ $cardClass := "" }}
{{ $titleIcon := "" }}

{{/* TODO: use site settings */}}
{{/* docs */}}
{{ if eq .context.Type "docs" }}
{{ $cardClass = "docs-card" }}
{{ $titleIcon = "fa-solid fa-memo"}}
{{ end }}

{{/* tools */}}
{{ if eq .context.Type "tools" }}
{{ $cardClass = "tools-card" }}
{{ $titleIcon = "fa-solid fa-screwdriver-wrench"}}
{{ end }}

{{/* creative */}}
{{ if eq .context.Type "creative" }}
{{ $cardClass = "creative-card" }}
{{ $titleIcon = "fa-solid fa-photo-film"}}
{{ end }}


<div class="card is-horizontal {{ $cardClass }}">

    {{ if or (.context.Params.Image) (.context.Params.ImageIcon) }}
    {{/* show image */}}
    <div class="card-image" {{ if .context.Params.Color }}style="background-color: {{ .context.Params.Color }};"{{ end }}>
        <a class="anchor-block" href="{{ .context.RelPermalink }}" {{if $noLink }}style="pointer-events: none" {{ end }}>
            <figure class="image is-1by1">
                {{ if .context.Params.Image }}
                <img src="{{ .context.Params.Image }}">
                {{ end }}
            </figure>
            {{ if .context.Params.ImageIcon }}
            <span class="icon image-icon-centered">
                <i class="{{ .context.Params.ImageIcon }} is-size-2 is-size-4-mobile is-size-1-desktop"></i>
            </span>
            {{ end }}
        </a>
    </div>
    {{ end }}

    <div class="card-content">
        <h5 class="title mb-2 is-size-5">
            <a href="{{ .context.RelPermalink }}" {{if $noLink }}style="pointer-events: none" {{ end }}>
                <span class="icon">
                    <i class="{{ $titleIcon }}"></i>
                </span>
                {{ .context.LinkTitle }}
            </a>
            {{ if .context.Params.draft }}
            <span class="tag is-primary">Draft</span>
            {{ end }}
        </h5>

        {{ if not $noSummary }}
        <div class="content">
            {{ .context.Summary }}
        </div>
        {{ end }}

        {{ if not $noTags }}
        {{ partial "tags.html" .context }}
        {{ end }}
    </div>

</div>