{{/*  don't display a page title  */}}
{{ $noTitle := default false .NoTitle }}
{{/*  don't display a page summary  */}}
{{ $noSummary := default false .NoSummary }}
{{/*  don't make the title a link  */}}
{{ $noLink := default false .NoLink }}
{{/*  don't show any external link  */}}
{{ $noExternalLink := default false .NoExternalLink }}
{{/*  dont display the page date  */}}
{{ $noDate := default false .NoDate }}
{{ $noTags := default false .NoTags }}
{{/*  display the card vertically with a large image  */}}
{{ $isLargeCard := default false .IsLargeCard }}
{{/*  ensure the card fills available vertical space  */}}
{{ $vFill := default true .VFill }}
{{/*  fill the full width of the viewport  */}}
{{ $isFullWidth := default false .IsFullWidth }}

{{/*
    for tools and links pages, don't make the title link to the page itself,
    instead only use the external link.
*/}}
{{ $externalLinkOnly := false }}
{{ if or (eq .context.Type "tools") (eq .context.Type "links") }}
    {{ $externalLinkOnly = true}}
{{ end }}

{{/*  set links to use (or not use)  */}}
{{ $externalLink := (cond $noExternalLink nil .context.Params.Link) }}
{{ $pageLink := (cond (or $noLink $externalLinkOnly) nil .context.RelPermalink) }}
{{ $imageLink := (cond $externalLinkOnly $externalLink $pageLink) }}
{{ $imageLinkTarget := (cond (eq $imageLink $externalLink) "_blank" "_self") }}


{{/* TODO: use site settings to determine card class and icon */}}
{{ $cardClass := "" }}
{{ $titleIcon := "" }}

{{ if eq .context.Type "docs" }}
{{ $cardClass = "docs-card" }}
{{ $titleIcon = "fa-solid fa-memo"}}

{{ else if eq .context.Type "links" }}
{{ $cardClass = "links-card" }}
{{ $titleIcon = "fa-solid fa-bookmark"}}

{{ else if eq .context.Type "tools" }}
{{ $cardClass = "tools-card" }}
{{ $titleIcon = "fa-solid fa-screwdriver-wrench"}}

{{ else if eq .context.Type "creative" }}
{{ $cardClass = "creative-card" }}
{{ $titleIcon = "fa-solid fa-photo-film"}}
{{ $isLargeCard = true }}
{{ end }}

{{/*  build list of card classes  */}}
{{ $cardClasses := (slice $cardClass) }}
{{ if $vFill }}
    {{ $cardClasses = append "vfill" $cardClasses }}
{{ end }}
{{ if not $isLargeCard }}
    {{ $cardClasses = append "is-horizontal" $cardClasses }}
{{ end }}
{{ if $isFullWidth }}
    {{ $cardClasses = append "full-width" $cardClasses }}
{{ end }}
{{ $cardClasses = delimit $cardClasses " " }}

<div class="card {{ $cardClasses }}">

    {{ if or (.context.Params.Image) (.context.Params.ImageIcon) }}
    {{/* show `image` or `imageIcon`, either 2by1 or 1by1 */}}
    <div class="card-image">
        <a class="anchor-block" href="{{ $imageLink }}" {{if not $imageLink }} style="pointer-events: none" {{ end }} target="{{ $imageLinkTarget }}">
            <figure class="image {{ if $isLargeCard }} is-2by1 {{ else }} is-1by1 {{ end }}">
                {{ if .context.Params.Image }}
                <img src="{{ .context.Params.Image }}">
                {{ end }}
                {{ if .context.Params.Video }}
                {{ partial "video.html" (dict "URL" .context.Params.Video "HoverPlay" true) }}
                {{ end }}
                {{ if .context.Params.ImageIcon }}
                <span class="icon image-icon-centered">
                    <i class="{{ .context.Params.ImageIcon }} is-size-2 is-size-4-mobile is-size-1-desktop"></i>
                </span>
                {{ end }}
            </figure>
        </a>
    </div>
    {{ end }}

    {{/*  card contents  */}}
    {{ if not (and (and (and $noTitle $noSummary) (and $noExternalLink $noDate)) $noTags) }}
    <div class="card-content overflow-parent">

        {{/*  card title  */}}
        {{ if and $externalLinkOnly $externalLink }}
            {{/*  one big link including title and link url text  */}}
            <a href="{{ $externalLink }}" target="_blank">
                {{ if not $noTitle }}
                <h5 class="has-text-weight-semibold is-size-5">
                    {{/*  <a>  */}}
                        <span class="icon">
                            <i class="{{ $titleIcon }}"></i>
                        </span>
                        {{ .context.LinkTitle }}
                    {{/*  </a>  */}}
                    {{ if .context.Params.draft }}
                    <span class="tag is-primary">Draft</span>
                    {{ end }}
                </h5>
                {{ end }}
                {{ if $externalLink }}
                <div class="link-url mt-1">
                    <span class="icon">
                        <i class="fa-solid fa-arrow-up-right"></i>
                    </span>
                    {{ strings.TrimPrefix "https://" $externalLink }}
                </div>
                {{ end }}
            </a>
        {{ else }}
            {{/*  separate links for title and external link  */}}
            {{ if not $noTitle }}
            <h5 class="has-text-weight-semibold is-size-5">
                <a href="{{ $pageLink }}" {{if not $pageLink }} style="pointer-events: none" {{ end }}>
                    <span class="icon">
                        <i class="{{ $titleIcon }}"></i>
                    </span>
                    {{ .context.LinkTitle }}
                </a>
                {{ if .context.Params.draft }}
                <span class="tag is-primary">Draft</span>
                {{ end }}
            </h5>
            {{ end }}
            {{ if $externalLink }}
            <a href="{{ $externalLink }}" target="_blank">
                <div class="link-url mt-1">
                    <span class="icon">
                        <i class="fa-solid fa-arrow-up-right"></i>
                    </span>
                    {{ strings.TrimPrefix "https://" $externalLink }}
                </div>
            </a>
            {{ end }}
        {{ end }}

        {{ if not $noSummary }}
        <div class="content mt-1">
            {{ .context.Summary }}
        </div>
        {{ end }}

        {{ if not $noDate }}
        {{ partial "date.html" .context }}
        {{ end }}

        {{ if not $noTags }}
        {{ partial "tags.html" .context }}
        {{ end }}
    </div>
    {{ end }}

</div>