{{/*  don't display a page summary  */}}
{{ $noSummary := default false .NoSummary }}
{{/*  don't make the title a link  */}}
{{ $noLink := default false .NoLink }}
{{/*  dont display the page date  */}}
{{ $noDate := default false .NoDate }}
{{ $noTags := default false .NoTags }}
{{/*  display the card with a 3by1 image instead of 1by1  */}}
{{ $isLargeCard := default false .IsLargeCard }}
{{ $vFill := default true .VFill }}

{{ $noPageLink := false }}
{{ $link := .context.RelPermalink }}

{{ if or (eq .context.Type "tools") (eq .context.Type "links") }}
    {{/*  don't make the title link to the page itself, instead only use the `link` param if available  */}}
    {{ $noPageLink = true}}
    {{ $link = .context.Params.Link }}
{{ end }}

{{ $cardClass := "" }}
{{ $titleIcon := "" }}

{{/* TODO: use site settings */}}
{{/* docs */}}
{{ if eq .context.Type "docs" }}
{{ $cardClass = "docs-card" }}
{{ $titleIcon = "fa-solid fa-memo"}}
{{ end }}

{{/* links */}}
{{ if eq .context.Type "links" }}
{{ $cardClass = "links-card" }}
{{ $titleIcon = "fa-solid fa-bookmark"}}
{{ end }}

{{/* tools */}}
{{ if eq .context.Type "tools" }}
{{ $cardClass = "tools-card" }}
{{ $titleIcon = "fa-solid fa-screwdriver-wrench"}}
{{ end }}

{{/* creative */}}
{{ if eq .context.Type "creative" }}
{{ $cardClass = "creative-card" }}
{{ $titleIcon = "fa-solid fa-photo-film"}}
{{ $isLargeCard = true }}
{{ end }}


<div class="card {{ if $vFill }} vfill {{ end }} {{ if not $isLargeCard }} is-horizontal {{ end }} {{ $cardClass }}">

    {{ if or (.context.Params.Image) (.context.Params.ImageIcon) }}
    {{/* show `image` or `imageIcon`, either 3by1 or 1by1 */}}
    <div class="card-image">
        <a class="anchor-block" href="{{ $link }}" {{if $noLink }}style="pointer-events: none" {{ end }}>
            <figure class="image {{ if $isLargeCard }} is-3by1 {{ else }} is-1by1 {{ end }}">
                {{ if .context.Params.Image }}
                <img src="{{ .context.Params.Image }}">
                {{ end }}
            </figure>
            {{ if .context.Params.ImageIcon }}
            <span class="icon image-icon-centered">
                <i class="{{ .context.Params.ImageIcon }} is-size-2 is-size-4-mobile is-size-1-desktop"></i>
            </span>
            {{ end }}
        </a>
    </div>
    {{ end }}

    {{/*  card contents  */}}
    <div class="card-content overflow-parent">

        {{/*  card title  */}}
        <h5 class="title mb-2 is-size-5">
            {{ $titleLinkTarget := (cond $noPageLink "_blank" "_self") }}
            <a href="{{ $link }}" {{if or (not $link) $noLink }}style="pointer-events: none" {{ end }} target="{{ $titleLinkTarget }}">
                <span class="icon">
                    <i class="{{ $titleIcon }}"></i>
                </span>
                {{ .context.LinkTitle }}
            </a>
            {{ if .context.Params.draft }}
            <span class="tag is-primary">Draft</span>
            {{ end }}
        </h5>

        {{ if .context.Params.Link }}
        <a class="link-url mb-1" href="{{ .context.Params.Link }}" target="_blank">
            <span class="icon">
                <i class="fa-solid fa-arrow-up-right"></i>
            </span>
            {{ strings.TrimPrefix "https://" .context.Params.Link }}
        </a>
        {{ end }}

        {{ if not $noSummary }}
        <div class="content">
            {{ .context.Summary }}
        </div>
        {{ end }}

        {{ if not $noDate }}
        {{ partial "date.html" .context }}
        {{ end }}

        {{ if not $noTags }}
        {{ partial "tags.html" .context }}
        {{ end }}
    </div>

</div>