{{ define "main" }}

<h1 class="title is-3">
    {{ .Site.Params.WelcomeTitle }}
</h1>
<p class="subtitle">
    {{ .Site.Params.WelcomeMessage }}
</p>

<div class="m-6"></div>

{{ if .Content }}
<div class="content">
    {{ .Content }}
</div>
{{ end }}

<div class="columns">

    {{/* first column, recent docs */}}
    <div class="column is-full">
        {{ if (where .Site.RegularPages "Section" "docs") }}
        <div class="columns is-multiline">

            {{ range first 4 (where .Site.RegularPages.ByDate.Reverse "Section" "docs") }}
            <div class="column is-half">
                {{ partial "pagecard.html" (dict "context" .) }}
            </div>
            {{ end }}

            <div class="column ">
                <a class="button" href="/docs">
                    <span class="icon">
                        <i class="fa-solid fa-memo"></i>
                    </span>
                    <span>
                        More Docs...
                    </span>
                </a>
            </div>

        </div>
        {{ end }}

        {{ if (where .Site.RegularPages "Section" "links") }}
        <div class="columns is-multiline">

            {{ range first 4 (where .Site.RegularPages.ByDate.Reverse "Section" "links") }}
            <div class="column is-half">
                {{ partial "pagecard.html" (dict "context" .) }}
            </div>
            {{ end }}

            <div class="column">
                <a class="button" href="/links">
                    <span class="icon">
                        <i class="fa-solid fa-bookmark"></i>
                    </span>
                    <span>
                        More Links...
                    </span>
                </a>
            </div>

        </div>
        {{ end }}
    </div>

</div>
{{ end }}