{{ define "main" }}

{{ if .Content }}
<div class="content">
    {{ .Content }}
</div>
{{ end }}

<div class="columns">

    {{/* first column, recent notes */}}
    <div class="column is-half">
        <h4 class="title is-4">Latest Notes</h4>
        <div class="columns is-multiline">

            {{ range (where .Site.RegularPages.ByDate "Section" "notes") }}
            <div class="column is-full">
                {{ partial "pagecard.html" . }}
            </div>
            {{ end }}

        </div>
    </div>

    <div class="column is-half">
        <h4 class="title is-4">Latest Links</h4>
        <div class="columns is-multiline">

            {{ range (where .Site.RegularPages.ByDate "Section" "links") }}
            <div class="column is-half">
                {{ partial "linkcard.html" . }}
            </div>
            {{ end }}

        </div>
    </div>

</div>
{{ end }}