{{ define "main" }}

<h1 class="title is-3">
    {{ .Site.Params.WelcomeTitle }}
</h1>
<p class="subtitle">
    {{ .Site.Params.WelcomeMessage }}
</p>

<div class="m-6"></div>

{{ if .Content }}
<div class="content">
    {{ .Content }}
</div>
{{ end }}

<div class="columns">

    {{/* first column, recent docs */}}
    <div class="column is-full">
        <div class="columns is-multiline">

            {{ range first 4 (where .Site.RegularPages.ByDate.Reverse "Section" "docs") }}
            <div class="column is-half">
                {{ partial "pagecard.html" (dict "context" .) }}
            </div>
            {{ end }}

            <div class="column ">
                <a class="button is-primary " href="/docs">
                    <span class="icon">
                        <i class="fa-solid fa-memo"></i>
                    </span>
                    <span>
                        View more docs...
                    </span>
                </a>
            </div>

        </div>

        <div class="columns is-multiline">

            {{ range first 4 (where .Site.RegularPages.ByDate.Reverse "Section" "links") }}
            <div class="column is-half">
                {{ partial "linkcard.html" . }}
            </div>
            {{ end }}

            <div class="column">
                <a class="button is-info" href="/links">
                    <span class="icon">
                        <i class="fa-solid fa-bookmark"></i>
                    </span>
                    <span>
                        View more links...
                    </span>
                </a>
            </div>

        </div>
    </div>

</div>
{{ end }}