{{ define "main" }}

{{ if .Content }}
<div class="content">
    {{ .Content }}
</div>
{{ end }}

{{/*
    Build map of categories to display, where values are the displayed title.
    Check first in the `displayCategories` param.
*/}}
{{ $displayCategories := default slice .Params.displayCategories }}

{{/*  add any additional categories that were not explicitly listed  */}}
{{ if default false .Params.showAllCategories }}
    {{ range $k, $v := .Site.Taxonomies.categories }}
        {{/*  only add if not already listed  */}}
        {{ if not (where $displayCategories "category" $k) }}
            {{ $displayCategories = append (dict "category" $k) $displayCategories }}
        {{ end }}
    {{ end }}
{{ end }}

{{/*  group all pages by category  */}}
{{ range $category := $displayCategories }}
    {{ $pages := where ($.Pages.ByParam "sort") "Params.categories" "intersect" (slice $category.category) }}

    {{/*  hide empty categories  */}}
    {{ if not $pages }}
        {{ continue }}
    {{ end }}

    {{/*  use custom .title if available, otherwise just titlecase the category  */}}
    {{ $categoryTitle := default (replace $category.category "-" " " | title) $category.title}}

    <h3 class="title is-4">{{ $categoryTitle}}</h3>

    <div class="columns is-multiline">
        {{ range $pages }}
        <div class="column is-full">
            {{ partial "pagecard.html" (dict "context" . "NoTags" true "NoDate" true) }}
        </div>
        {{ end }}
    </div>

{{ end }}

{{/* show pages without any category */}}
{{ $uncategorizedPages := where .Pages.ByTitle "Params.categories" nil }}

{{ if $uncategorizedPages }}
    <h3 class="title is-3">{{ default "Uncategorized" .Params.uncategorizedTitle }}</h3>

    {{ range $uncategorizedPages }}
        <div class="column is-full">
            {{ partial "pagecard.html" (dict "context" . "NoTags" true) }}
        </div>
    {{ end }}
{{ end }}

{{ end }}
