$chroma-bg: hsl(32, 6%, 18%);
$chroma-fg: hsl(32, 10%, 75%);
$chroma-comment: hsl(30, 8%, 36%);
$chroma-keyword: #749ec5;
$chroma-name: #77dfa6;
$chroma-error: hsl(0, 63%, 43%);
$chroma-error-bg: hsl(10, 34%, 17%);
$chroma-operator: $chroma-fg;
$chroma-literal: hsl(0, 78%, 73%);
$chroma-literal-string: hsl(32, 78%, 69%);
$chroma-namespace: $chroma-name;
$chroma-linenos: hsl(30, 8%, 32%);

/* Background */ .bg { color: $chroma-fg; background-color: $chroma-bg }
/* PreWrapper */ .chroma { color: $chroma-fg; background-color: $chroma-bg; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: $chroma-error; background-color: $chroma-error-bg }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: $chroma-linenos }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: $chroma-linenos }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: $chroma-keyword }
/* KeywordConstant */ .chroma .kc { color: $chroma-keyword }
/* KeywordDeclaration */ .chroma .kd { color: $chroma-keyword }
/* KeywordNamespace */ .chroma .kn { color: $chroma-namespace }
/* KeywordPseudo */ .chroma .kp { color: $chroma-keyword }
/* KeywordReserved */ .chroma .kr { color: $chroma-keyword }
/* KeywordType */ .chroma .kt { color: $chroma-keyword }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: $chroma-name }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: $chroma-name }
/* NameConstant */ .chroma .no { color: $chroma-keyword }
/* NameDecorator */ .chroma .nd { color: $chroma-name }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: $chroma-name }
/* NameFunction */ .chroma .nf { color: $chroma-name }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: $chroma-name }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: $chroma-namespace }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: $chroma-literal }
/* LiteralDate */ .chroma .ld { color: $chroma-literal-string }
/* LiteralString */ .chroma .s { color: $chroma-literal-string }
/* LiteralStringAffix */ .chroma .sa { color: $chroma-literal-string }
/* LiteralStringBacktick */ .chroma .sb { color: $chroma-literal-string }
/* LiteralStringChar */ .chroma .sc { color: $chroma-literal-string }
/* LiteralStringDelimiter */ .chroma .dl { color: $chroma-literal-string }
/* LiteralStringDoc */ .chroma .sd { color: $chroma-literal-string }
/* LiteralStringDouble */ .chroma .s2 { color: $chroma-literal-string }
/* LiteralStringEscape */ .chroma .se { color: $chroma-literal }
/* LiteralStringHeredoc */ .chroma .sh { color: $chroma-literal-string }
/* LiteralStringInterpol */ .chroma .si { color: $chroma-literal-string }
/* LiteralStringOther */ .chroma .sx { color: $chroma-literal-string }
/* LiteralStringRegex */ .chroma .sr { color: $chroma-literal-string }
/* LiteralStringSingle */ .chroma .s1 { color: $chroma-literal-string }
/* LiteralStringSymbol */ .chroma .ss { color: $chroma-literal-string }
/* LiteralNumber */ .chroma .m { color: $chroma-literal }
/* LiteralNumberBin */ .chroma .mb { color: $chroma-literal }
/* LiteralNumberFloat */ .chroma .mf { color: $chroma-literal }
/* LiteralNumberHex */ .chroma .mh { color: $chroma-literal }
/* LiteralNumberInteger */ .chroma .mi { color: $chroma-literal }
/* LiteralNumberIntegerLong */ .chroma .il { color: $chroma-literal }
/* LiteralNumberOct */ .chroma .mo { color: $chroma-literal }
/* Operator */ .chroma .o { color: $chroma-operator }
/* OperatorWord */ .chroma .ow { color: $chroma-operator }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: $chroma-comment }
/* CommentHashbang */ .chroma .ch { color: $chroma-comment }
/* CommentMultiline */ .chroma .cm { color: $chroma-comment }
/* CommentSingle */ .chroma .c1 { color: $chroma-comment }
/* CommentSpecial */ .chroma .cs { color: $chroma-comment }
/* CommentPreproc */ .chroma .cp { color: $chroma-comment }
/* CommentPreprocFile */ .chroma .cpf { color: $chroma-comment }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: $chroma-namespace }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: $chroma-name }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: $chroma-comment }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
